# ANIP - Challenge 1 – Visualisation de Données

# Tâche 3 : Visualisation & Insights avec Power BI

In [1]:
import pandas as pd

In [4]:
data_ehcvm=pd.read_excel("base/base_menage_indivdu_merged.xlsx")

In [5]:
data_ehcvm

,hhid,grappe,menage,numind,zae,zaemil,departement,commune,arrondissement,milieu,...,petitrum,porc,lapin,volail,sh_id_demo,sh_co_natu,sh_co_eco,sh_id_eco,sh_co_vio,sh_co_oth
0,1005,1,5,1,"Transition, précipations moyennes, coton","Transition, précipations moyennes (urbain)",alibori,banikoara,banikoara,Urbain,...,14,0,0,6,1,1,0,0,0,0
1,1005,1,5,2,"Transition, précipations moyennes, coton","Transition, précipations moyennes (urbain)",alibori,banikoara,banikoara,Urbain,...,14,0,0,6,1,1,0,0,0,0
2,1005,1,5,3,"Transition, précipations moyennes, coton","Transition, précipations moyennes (urbain)",alibori,banikoara,banikoara,Urbain,...,14,0,0,6,1,1,0,0,0,0
3,1005,1,5,4,"Transition, précipations moyennes, coton","Transition, précipations moyennes (urbain)",alibori,banikoara,banikoara,Urbain,...,14,0,0,6,1,1,0,0,0,0
4,1005,1,5,5,"Transition, précipations moyennes, coton","Transition, précipations moyennes (urbain)",alibori,banikoara,banikoara,Urbain,...,14,0,0,6,1,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42655,670114,670,114,8,"Précipations moyennes, 1 saison des pluies, coton",Précipations moyennes (urbain),zou,zogbodomey,zogbodomey,Urbain,...,0,0,0,0,0,0,1,0,0,0
42656,670123,670,123,1,"Précipations moyennes, 1 saison des pluies, coton",Précipations moyennes (urbain),zou,zogbodomey,zogbodomey,Urbain,...,0,0,0,0,0,0,1,0,0,0
42657,670141,670,141,1,"Précipations moyennes, 1 saison des pluies, coton",Précipations moyennes (urbain),zou,zogbodomey,zogbodomey,Urbain,...,0,0,0,0,0,0,1,0,0,0
42658,670141,670,141,3,"Précipations moyennes, 1 saison des pluies, coton",Précipations moyennes (urbain),zou,zogbodomey,zogbodomey,Urbain,...,0,0,0,0,0,0,1,0,0,0
42659,670141,670,141,4,"Précipations moyennes, 1 saison des pluies, coton",Précipations moyennes (urbain),zou,zogbodomey,zogbodomey,Urbain,...,0,0,0,0,0,0,1,0,0,0

In [6]:
data_ehcvm.drop(columns=["hhid","grappe","menage","numind","zae","lien","ea","em","mal30j","arrmal","hos12m","emploi_sec","eauboi_ss","eauboi_sp","sh_id_eco","sh_id_demo","toilet","elec_ur","elec_ua"])

,zaemil,departement,commune,arrondissement,milieu,hhweight,resid,sexe,age,religion,...,car,grosrum,petitrum,porc,lapin,volail,sh_co_natu,sh_co_eco,sh_co_vio,sh_co_oth
0,"Transition, précipations moyennes (urbain)",alibori,banikoara,banikoara,Urbain,215.949344,Oui,Masculin,48,Musulman,...,0,2,14,0,0,6,1,0,0,0
1,"Transition, précipations moyennes (urbain)",alibori,banikoara,banikoara,Urbain,215.949344,Oui,Féminin,4,Musulman,...,0,2,14,0,0,6,1,0,0,0
2,"Transition, précipations moyennes (urbain)",alibori,banikoara,banikoara,Urbain,215.949344,Oui,Masculin,13,Musulman,...,0,2,14,0,0,6,1,0,0,0
3,"Transition, précipations moyennes (urbain)",alibori,banikoara,banikoara,Urbain,215.949344,Oui,Masculin,16,Musulman,...,0,2,14,0,0,6,1,0,0,0
4,"Transition, précipations moyennes (urbain)",alibori,banikoara,banikoara,Urbain,215.949344,Oui,Masculin,18,Musulman,...,0,2,14,0,0,6,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42655,Précipations moyennes (urbain),zou,zogbodomey,zogbodomey,Urbain,454.981598,Oui,Masculin,2,Chrétien,...,0,0,0,0,0,0,0,1,0,0
42656,Précipations moyennes (urbain),zou,zogbodomey,zogbodomey,Urbain,454.981598,Oui,Masculin,37,Chrétien,...,0,0,0,0,0,0,0,1,0,0
42657,Précipations moyennes (urbain),zou,zogbodomey,zogbodomey,Urbain,454.981598,Oui,Féminin,45,Animiste,...,0,0,0,0,0,0,0,1,0,0
42658,Précipations moyennes (urbain),zou,zogbodomey,zogbodomey,Urbain,454.981598,Oui,Féminin,10,Animiste,...,0,0,0,0,0,0,0,1,0,0
42659,Précipations moyennes (urbain),zou,zogbodomey,zogbodomey,Urbain,454.981598,Oui,Masculin,19,Animiste,...,0,0,0,0,0,0,0,1,0,0

In [7]:
def weighted_categorical_distribution(data, group, var, weight):
    # Somme des poids par catégorie
    grouped = data.groupby([group, var], as_index=False)[weight].sum()
    
    # Calcul du total des poids par groupe
    total = grouped.groupby(group, as_index=False)[weight].sum().rename(columns={weight: 'total_weight'})
    
    # Fusion pour calculer les pourcentages
    merged = pd.merge(grouped, total, on=group)
    merged[f'%_{var}'] = 100 * merged[weight] / merged['total_weight']
    
    # On garde uniquement les colonnes utiles
    return merged[[group, var, f'%_{var}']]

In [8]:
# Liste des variables à agréger
cat_vars = ['sexe', 'resid', 'religion']

# Calcul de la répartition pondérée pour chaque variable
repartitions = []
for var in cat_vars:
    temp = weighted_categorical_distribution(data_ehcvm, 'departement', var, 'hhweight')
    repartitions.append(temp)

# Fusion des résultats
final = repartitions[0]
for df in repartitions[1:]:
    final = pd.merge(final, df, on='departement', how='outer')

In [9]:
final

,departement,sexe,%_sexe,resid,%_resid,religion,%_religion
0,alibori,Féminin,48.340308,Non,0.537726,Animiste,0.334871
1,alibori,Féminin,48.340308,Non,0.537726,Chrétien,13.108673
2,alibori,Féminin,48.340308,Non,0.537726,Musulman,86.028630
3,alibori,Féminin,48.340308,Non,0.537726,Sans Réligion,0.527825
4,alibori,Féminin,48.340308,Oui,99.462274,Animiste,0.334871
...,...,...,...,...,...,...,...
219,zou,Masculin,48.059512,Oui,99.837379,Animiste,20.099166
220,zou,Masculin,48.059512,Oui,99.837379,Autre Réligion,0.497317
221,zou,Masculin,48.059512,Oui,99.837379,Chrétien,74.567666
222,zou,Masculin,48.059512,Oui,99.837379,Musulman,3.489095
223,zou,Masculin,48.059512,Oui,99.837379,Sans Réligion,1.346756

In [10]:
df

   departement        religion  %_religion
0      alibori        Animiste    0.334871
1      alibori        Chrétien   13.108673
2      alibori        Musulman   86.028630
3      alibori   Sans Réligion    0.527825
4      atacora        Animiste   17.066914
5      atacora  Autre Réligion    0.360524
6      atacora        Chrétien   47.160898
7      atacora        Musulman   31.021686
8      atacora   Sans Réligion    4.389979
9   atlantique        Animiste   12.604175
10  atlantique  Autre Réligion    0.254048
11  atlantique        Chrétien   81.044181
12  atlantique        Musulman    4.545721
13  atlantique   Sans Réligion    1.551874
14      borgou        Animiste    0.459722
15      borgou        Chrétien   24.869213
16      borgou        Musulman   74.319700
17      borgou   Sans Réligion    0.351365
18    collines        Animiste    5.710345
19    collines  Autre Réligion    0.060048
20    collines        Chrétien   74.484250
21    collines        Musulman   15.179644
22    collines   Sans Réligion    4.565714
23      couffo        Animiste   48.973823
24      couffo  Autre Réligion    0.248852
25      couffo        Chrétien   48.550036
26      couffo        Musulman    0.219369
27      couffo   Sans Réligion    2.007920
28       donga        Animiste    1.076169
29       donga        Chrétien   10.202046
30       donga        Musulman   88.721785
31    littoral        Animiste    3.008325
32    littoral  Autre Réligion    0.210529
33    littoral        Chrétien   81.878706
34    littoral        Musulman   13.714406
35    littoral   Sans Réligion    1.188033
36        mono        Animiste   33.869493
37        mono  Autre Réligion    2.012429
38        mono        Chrétien   56.814448
39        mono        Musulman    2.439982
40        mono   Sans Réligion    4.863648
41       oueme        Animiste    5.692466
42       oueme  Autre Réligion    0.295211
43       oueme        Chrétien   81.212199
44       oueme        Musulman   12.335823
45       oueme   Sans Réligion    0.464302
46     plateau        Animiste   11.689462
47     plateau  Autre Réligion    0.361919
48     plateau        Chrétien   69.902636
49     plateau        Musulman   17.142299
50     plateau   Sans Réligion    0.903684
51         zou        Animiste   20.099166
52         zou  Autre Réligion    0.497317
53         zou        Chrétien   74.567666
54         zou        Musulman    3.489095
55         zou   Sans Réligion    1.346756

In [11]:
# On crée trois tables pivotées pour chaque variable
pivot_sexe = final.pivot_table(index='departement', 
                            columns='sexe', 
                            values='%_sexe', 
                            aggfunc='mean').add_prefix('%_sexe_')

pivot_resid = final.pivot_table(index='departement', 
                             columns='resid', 
                             values='%_resid', 
                             aggfunc='mean').add_prefix('%_resid_')

pivot_religion = final.pivot_table(index='departement', 
                                columns='religion', 
                                values='%_religion', 
                                aggfunc='mean').add_prefix('%_religion_')

# Fusionner les trois tables
df_final = pivot_sexe.join(pivot_resid, how='outer').join(pivot_religion, how='outer')

# Remettre l'index comme colonne
df_final.reset_index(inplace=True)

# Afficher le résultat

In [12]:
df_final

,departement,%_sexe_Féminin,%_sexe_Masculin,%_resid_Non,%_resid_Oui,%_religion_Animiste,%_religion_Autre Réligion,%_religion_Chrétien,%_religion_Musulman,%_religion_Sans Réligion
0,alibori,48.340308,51.659692,0.537726,99.462274,0.334871,NaN,13.108673,86.028630,0.527825
1,atacora,49.932100,50.067900,1.130895,98.869105,17.066914,0.360524,47.160898,31.021686,4.389979
2,atlantique,52.107358,47.892642,0.465251,99.534749,12.604175,0.254048,81.044181,4.545721,1.551874
3,borgou,48.653849,51.346151,2.212332,97.787668,0.459722,NaN,24.869213,74.319700,0.351365
4,collines,49.984159,50.015841,0.270085,99.729915,5.710345,0.060048,74.484250,15.179644,4.565714
5,couffo,55.056123,44.943877,0.352310,99.647690,48.973823,0.248852,48.550036,0.219369,2.007920
6,donga,50.569244,49.430756,0.331675,99.668325,1.076169,NaN,10.202046,88.721785,NaN
7,littoral,53.522500,46.477500,0.659093,99.340907,3.008325,0.210529,81.878706,13.714406,1.188033
8,mono,52.129749,47.870251,0.855873,99.144127,33.869493,2.012429,56.814448,2.439982,4.863648
9,oueme,51.228341,48.771659,0.343938,99.656062,5.692466,0.295211,81.212199,12.335823,0.464302
10,plateau,51.798070,48.201930,0.171937,99.828063,11.689462,0.361919,69.902636,17.142299,0.903684
11,zou,51.940488,48.059512,0.162621,99.837379,20.099166,0.497317,74.567666,3.489095,1.346756

In [14]:
pivot_sexe

sexe         %_sexe_Féminin  %_sexe_Masculin
departement
alibori           48.340308        51.659692
atacora           49.932100        50.067900
atlantique        52.107358        47.892642
borgou            48.653849        51.346151
collines          49.984159        50.015841
couffo            55.056123        44.943877
donga             50.569244        49.430756
littoral          53.522500        46.477500
mono              52.129749        47.870251
oueme             51.228341        48.771659
plateau           51.798070        48.201930
zou               51.940488        48.059512

In [15]:


def weighted_binary_indicators(data, group, weight, binary_vars):
    """
    Calcule la proportion pondérée (%) de 1 pour chaque variable binaire, par groupe.
    """
    results = []

    for var in binary_vars:
        if var not in data.columns:
            print(f" Variable '{var}' non trouvée, ignorée.")
            continue

        temp = (
            data.groupby(group)
            .apply(lambda x: 100 * (x[var] * x[weight]).sum() / x[weight].sum())
            .reset_index(name=f'{var}_pct')
        )
        results.append(temp)

    # Fusionner toutes les variables sur 'departement'
    final = results[0]
    for t in results[1:]:
        final = pd.merge(final, t, on=group, how='outer')

    return final

In [16]:
binary_vars = ['mur', 'toit', 'sol','scol','telpor','internet','elec_ac','eauboi_ss']

agg_binary = weighted_binary_indicators(
    data=data_ehcvm,
    group='departement',
    weight='hhweight',
    binary_vars=binary_vars
)

print(agg_binary.head())

C:\Users\USER\AppData\Local\Temp\ipykernel_4900\4095782728.py:14: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  .apply(lambda x: 100 * (x[var] * x[weight]).sum() / x[weight].sum())
C:\Users\USER\AppData\Local\Temp\ipykernel_4900\4095782728.py:14: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  .apply(lambda x: 100 * (x[var] * x[weight]).sum() / x[weight].sum())
C:\Users\USER\AppData\Local\Temp\ipykernel_4900\4095782728.py:14: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  .apply(lambda x: 100 * (x[var] * x[weight]).sum() / x[weight].sum())
C:\Users\USER\AppData\Local\Temp\ipykernel_4900\4095782728.py:14: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  .apply(lambda x: 100 * (x[var] * x[weight]).sum() / x[weight].sum())
C:\Users\USER\AppData\Local\Temp\ipykernel_4900\4095782728.py:14: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  .apply(lambda x: 100 * (x[var] * x[weight]).sum() / x[weight].sum())
C:\Users\USER\AppData\Local\Temp\ipykernel_4900\4095782728.py:14: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  .apply(lambda x: 100 * (x[var] * x[weight]).sum() / x[weight].sum())
C:\Users\USER\AppData\Local\Temp\ipykernel_4900\4095782728.py:14: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  .apply(lambda x: 100 * (x[var] * x[weight]).sum() / x[weight].sum())
C:\Users\USER\AppData\Local\Temp\ipykernel_4900\4095782728.py:14: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  .apply(lambda x: 100 * (x[var] * x[weight]).sum() / x[weight].sum())

  departement    mur_pct   toit_pct    sol_pct   scol_pct  telpor_pct  \
0     alibori  66.809281  85.603588  62.313954  15.978022   21.861357
1     atacora  66.775595  93.327879  59.126238  22.848478   21.827633
2  atlantique  76.952424  98.415768  83.839798  32.147404   41.958584
3      borgou  89.118875  94.594201  73.240676  21.257851   27.775721
4    collines  67.082948  96.277458  81.401167  33.374844   34.135007

   internet_pct  elec_ac_pct  eauboi_ss_pct
0      5.560560     7.307670      43.327216
1      4.119586     9.968350      56.277234
2     22.013721    41.897199      71.609467
3     10.286932    25.757443      68.110949
4      7.588471    24.484217      86.848697

In [17]:
agg_binary

,departement,mur_pct,toit_pct,sol_pct,scol_pct,telpor_pct,internet_pct,elec_ac_pct,eauboi_ss_pct
0,alibori,66.809281,85.603588,62.313954,15.978022,21.861357,5.560560,7.307670,43.327216
1,atacora,66.775595,93.327879,59.126238,22.848478,21.827633,4.119586,9.968350,56.277234
2,atlantique,76.952424,98.415768,83.839798,32.147404,41.958584,22.013721,41.897199,71.609467
3,borgou,89.118875,94.594201,73.240676,21.257851,27.775721,10.286932,25.757443,68.110949
4,collines,67.082948,96.277458,81.401167,33.374844,34.135007,7.588471,24.484217,86.848697
5,couffo,52.876446,98.152075,60.077211,26.901673,28.168572,6.975585,17.435423,76.679091
6,donga,95.554018,98.383105,88.265316,29.400620,30.414257,13.187262,23.449248,28.858603
7,littoral,94.083724,99.177402,96.836231,36.359476,53.170973,38.357964,77.449703,94.551020
8,mono,47.382184,89.638941,63.695431,33.803727,34.237136,10.772987,20.447426,75.867780
9,oueme,83.641693,97.162565,83.520707,36.003252,43.794463,22.875201,48.139403,81.322742
10,plateau,53.129607,89.478385,63.334911,27.180748,30.303712,10.250225,22.255610,70.657602
11,zou,73.357056,98.382203,66.363860,29.902840,34.399027,8.396115,20.691110,81.804237

In [18]:
import pandas as pd

def weighted_numeric_sums(data, group, weight, numeric_vars):
    """
    Calcule la somme pondérée pour chaque variable numérique, par groupe.
    """
    results = []

    for var in numeric_vars:
        if var not in data.columns:
            print(f"Variable '{var}' non trouvée, ignorée.")
            continue

        temp = (
            data.groupby(group)
            .apply(lambda x: (x[var] * x[weight]).sum())
            .reset_index(name=f'{var}_sum')
        )
        results.append(temp)

    # Fusionner toutes les variables sur le groupe
    final = results[0]
    for t in results[1:]:
        final = pd.merge(final, t, on=group, how='outer')

    return final

In [19]:
# Exemple d'utilisation
numeric_vars = ['volail', 'petitrum', 'grosrum']  # tes variables numériques
agg_numeric = weighted_numeric_sums(
    data=data_ehcvm,
    group='departement',
    weight='hhweight',
    numeric_vars=numeric_vars
)

print(agg_numeric.head())

  departement    volail_sum  petitrum_sum   grosrum_sum
0     alibori  1.558533e+07  1.212951e+07  1.026577e+07
1     atacora  2.212449e+07  7.445286e+06  4.195102e+06
2  atlantique  4.575731e+06  5.628369e+05  7.905801e+03
3      borgou  1.421111e+07  7.974235e+06  8.754768e+06
4    collines  7.954430e+06  3.055817e+06  4.514168e+06

C:\Users\USER\AppData\Local\Temp\ipykernel_4900\2585860917.py:16: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  .apply(lambda x: (x[var] * x[weight]).sum())
C:\Users\USER\AppData\Local\Temp\ipykernel_4900\2585860917.py:16: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  .apply(lambda x: (x[var] * x[weight]).sum())
C:\Users\USER\AppData\Local\Temp\ipykernel_4900\2585860917.py:16: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  .apply(lambda x: (x[var] * x[weight]).sum())

In [20]:
agg_numeric

   departement    volail_sum  petitrum_sum   grosrum_sum
0      alibori  1.558533e+07  1.212951e+07  1.026577e+07
1      atacora  2.212449e+07  7.445286e+06  4.195102e+06
2   atlantique  4.575731e+06  5.628369e+05  7.905801e+03
3       borgou  1.421111e+07  7.974235e+06  8.754768e+06
4     collines  7.954430e+06  3.055817e+06  4.514168e+06
5       couffo  1.042074e+07  3.241062e+06  0.000000e+00
6        donga  4.421112e+06  2.578163e+06  1.915662e+06
7     littoral  1.231653e+05  2.378167e+04  0.000000e+00
8         mono  3.977445e+06  8.069921e+05  3.828423e+03
9        oueme  3.999323e+06  8.677059e+05  1.780721e+05
10     plateau  7.064358e+06  1.641912e+06  1.937335e+04
11         zou  4.792571e+06  9.958249e+05  1.906954e+06

In [21]:
# On fusionne d'abord df_final et agg_binary
temp = pd.merge(df_final, agg_binary, on='departement', how='outer')

# Puis on fusionne le résultat avec agg_numeric
ehcvm_agg = pd.merge(temp, agg_numeric, on='departement', how='outer')

In [22]:
ehcvm_agg.head()

,departement,%_sexe_Féminin,%_sexe_Masculin,%_resid_Non,%_resid_Oui,%_religion_Animiste,%_religion_Autre Réligion,%_religion_Chrétien,%_religion_Musulman,%_religion_Sans Réligion,...,toit_pct,sol_pct,scol_pct,telpor_pct,internet_pct,elec_ac_pct,eauboi_ss_pct,volail_sum,petitrum_sum,grosrum_sum
0,alibori,48.340308,51.659692,0.537726,99.462274,0.334871,NaN,13.108673,86.028630,0.527825,...,85.603588,62.313954,15.978022,21.861357,5.560560,7.307670,43.327216,1.558533e+07,1.212951e+07,1.026577e+07
1,atacora,49.932100,50.067900,1.130895,98.869105,17.066914,0.360524,47.160898,31.021686,4.389979,...,93.327879,59.126238,22.848478,21.827633,4.119586,9.968350,56.277234,2.212449e+07,7.445286e+06,4.195102e+06
2,atlantique,52.107358,47.892642,0.465251,99.534749,12.604175,0.254048,81.044181,4.545721,1.551874,...,98.415768,83.839798,32.147404,41.958584,22.013721,41.897199,71.609467,4.575731e+06,5.628369e+05,7.905801e+03
3,borgou,48.653849,51.346151,2.212332,97.787668,0.459722,NaN,24.869213,74.319700,0.351365,...,94.594201,73.240676,21.257851,27.775721,10.286932,25.757443,68.110949,1.421111e+07,7.974235e+06,8.754768e+06
4,collines,49.984159,50.015841,0.270085,99.729915,5.710345,0.060048,74.484250,15.179644,4.565714,...,96.277458,81.401167,33.374844,34.135007,7.588471,24.484217,86.848697,7.954430e+06,3.055817e+06,4.514168e+06

In [23]:
ehcvm_agg.columns

Index(['departement', '%_sexe_Féminin', '%_sexe_Masculin', '%_resid_Non',
       '%_resid_Oui', '%_religion_Animiste', '%_religion_Autre Réligion',
       '%_religion_Chrétien', '%_religion_Musulman',
       '%_religion_Sans Réligion', 'mur_pct', 'toit_pct', 'sol_pct',
       'scol_pct', 'telpor_pct', 'internet_pct', 'elec_ac_pct',
       'eauboi_ss_pct', 'volail_sum', 'petitrum_sum', 'grosrum_sum'],
      dtype='object')

In [24]:
# Liste des colonnes existantes
cols = ['departement', '%_sexe_Féminin', '%_sexe_Masculin', '%_resid_Non',
       '%_resid_Oui', '%_religion_Animiste', '%_religion_Autre Réligion',
       '%_religion_Chrétien', '%_religion_Musulman',
       '%_religion_Sans Réligion', 'mur_pct', 'toit_pct', 'sol_pct',
       'scol_pct', 'telpor_pct', 'internet_pct', 'elec_ac_pct',
       'eauboi_ss_pct', 'volail_sum', 'petitrum_sum', 'grosrum_sum']

# Fonction pour nettoyer les noms
def clean_column_name(col):
    col = col.lower()  # tout en minuscules
    col = col.replace('%_', '')  # enlever %_
    col = col.replace(' ', '_')  # remplacer espace par _
    col = col.replace('é', 'e').replace('è', 'e')  # enlever accents
    col = col.replace('ç', 'c')
    col = col.replace('à', 'a')
    col = col.replace('â', 'a')
    return col

# Appliquer à toutes les colonnes sauf 'departement'
new_cols = ['departement'] + [clean_column_name(c) for c in cols if c != 'departement']

# Renommer dans le DataFrame
ehcvm_agg.columns = new_cols

print(ehcvm_agg.head())

  departement  sexe_feminin  sexe_masculin  resid_non  resid_oui  \
0     alibori     48.340308      51.659692   0.537726  99.462274
1     atacora     49.932100      50.067900   1.130895  98.869105
2  atlantique     52.107358      47.892642   0.465251  99.534749
3      borgou     48.653849      51.346151   2.212332  97.787668
4    collines     49.984159      50.015841   0.270085  99.729915

   religion_animiste  religion_autre_religion  religion_chretien  \
0           0.334871                      NaN          13.108673
1          17.066914                 0.360524          47.160898
2          12.604175                 0.254048          81.044181
3           0.459722                      NaN          24.869213
4           5.710345                 0.060048          74.484250

   religion_musulman  religion_sans_religion  ...   toit_pct    sol_pct  \
0          86.028630                0.527825  ...  85.603588  62.313954
1          31.021686                4.389979  ...  93.327879  59.126238
2           4.545721                1.551874  ...  98.415768  83.839798
3          74.319700                0.351365  ...  94.594201  73.240676
4          15.179644                4.565714  ...  96.277458  81.401167

    scol_pct  telpor_pct  internet_pct  elec_ac_pct  eauboi_ss_pct  \
0  15.978022   21.861357      5.560560     7.307670      43.327216
1  22.848478   21.827633      4.119586     9.968350      56.277234
2  32.147404   41.958584     22.013721    41.897199      71.609467
3  21.257851   27.775721     10.286932    25.757443      68.110949
4  33.374844   34.135007      7.588471    24.484217      86.848697

     volail_sum  petitrum_sum   grosrum_sum
0  1.558533e+07  1.212951e+07  1.026577e+07
1  2.212449e+07  7.445286e+06  4.195102e+06
2  4.575731e+06  5.628369e+05  7.905801e+03
3  1.421111e+07  7.974235e+06  8.754768e+06
4  7.954430e+06  3.055817e+06  4.514168e+06

[5 rows x 21 columns]

In [25]:
ehcvm_agg

,departement,sexe_feminin,sexe_masculin,resid_non,resid_oui,religion_animiste,religion_autre_religion,religion_chretien,religion_musulman,religion_sans_religion,...,toit_pct,sol_pct,scol_pct,telpor_pct,internet_pct,elec_ac_pct,eauboi_ss_pct,volail_sum,petitrum_sum,grosrum_sum
0,alibori,48.340308,51.659692,0.537726,99.462274,0.334871,NaN,13.108673,86.028630,0.527825,...,85.603588,62.313954,15.978022,21.861357,5.560560,7.307670,43.327216,1.558533e+07,1.212951e+07,1.026577e+07
1,atacora,49.932100,50.067900,1.130895,98.869105,17.066914,0.360524,47.160898,31.021686,4.389979,...,93.327879,59.126238,22.848478,21.827633,4.119586,9.968350,56.277234,2.212449e+07,7.445286e+06,4.195102e+06
2,atlantique,52.107358,47.892642,0.465251,99.534749,12.604175,0.254048,81.044181,4.545721,1.551874,...,98.415768,83.839798,32.147404,41.958584,22.013721,41.897199,71.609467,4.575731e+06,5.628369e+05,7.905801e+03
3,borgou,48.653849,51.346151,2.212332,97.787668,0.459722,NaN,24.869213,74.319700,0.351365,...,94.594201,73.240676,21.257851,27.775721,10.286932,25.757443,68.110949,1.421111e+07,7.974235e+06,8.754768e+06
4,collines,49.984159,50.015841,0.270085,99.729915,5.710345,0.060048,74.484250,15.179644,4.565714,...,96.277458,81.401167,33.374844,34.135007,7.588471,24.484217,86.848697,7.954430e+06,3.055817e+06,4.514168e+06
5,couffo,55.056123,44.943877,0.352310,99.647690,48.973823,0.248852,48.550036,0.219369,2.007920,...,98.152075,60.077211,26.901673,28.168572,6.975585,17.435423,76.679091,1.042074e+07,3.241062e+06,0.000000e+00
6,donga,50.569244,49.430756,0.331675,99.668325,1.076169,NaN,10.202046,88.721785,NaN,...,98.383105,88.265316,29.400620,30.414257,13.187262,23.449248,28.858603,4.421112e+06,2.578163e+06,1.915662e+06
7,littoral,53.522500,46.477500,0.659093,99.340907,3.008325,0.210529,81.878706,13.714406,1.188033,...,99.177402,96.836231,36.359476,53.170973,38.357964,77.449703,94.551020,1.231653e+05,2.378167e+04,0.000000e+00
8,mono,52.129749,47.870251,0.855873,99.144127,33.869493,2.012429,56.814448,2.439982,4.863648,...,89.638941,63.695431,33.803727,34.237136,10.772987,20.447426,75.867780,3.977445e+06,8.069921e+05,3.828423e+03
9,oueme,51.228341,48.771659,0.343938,99.656062,5.692466,0.295211,81.212199,12.335823,0.464302,...,97.162565,83.520707,36.003252,43.794463,22.875201,48.139403,81.322742,3.999323e+06,8.677059e+05,1.780721e+05
10,plateau,51.798070,48.201930,0.171937,99.828063,11.689462,0.361919,69.902636,17.142299,0.903684,...,89.478385,63.334911,27.180748,30.303712,10.250225,22.255610,70.657602,7.064358e+06,1.641912e+06,1.937335e+04
11,zou,51.940488,48.059512,0.162621,99.837379,20.099166,0.497317,74.567666,3.489095,1.346756,...,98.382203,66.363860,29.902840,34.399027,8.396115,20.691110,81.804237,4.792571e+06,9.958249e+05,1.906954e+06

In [26]:
# Capitaliser la première lettre de chaque département
ehcvm_agg['departement'] = ehcvm_agg['departement'].str.capitalize()

In [27]:
ehcvm_agg

,departement,sexe_feminin,sexe_masculin,resid_non,resid_oui,religion_animiste,religion_autre_religion,religion_chretien,religion_musulman,religion_sans_religion,...,toit_pct,sol_pct,scol_pct,telpor_pct,internet_pct,elec_ac_pct,eauboi_ss_pct,volail_sum,petitrum_sum,grosrum_sum
0,Alibori,48.340308,51.659692,0.537726,99.462274,0.334871,NaN,13.108673,86.028630,0.527825,...,85.603588,62.313954,15.978022,21.861357,5.560560,7.307670,43.327216,1.558533e+07,1.212951e+07,1.026577e+07
1,Atacora,49.932100,50.067900,1.130895,98.869105,17.066914,0.360524,47.160898,31.021686,4.389979,...,93.327879,59.126238,22.848478,21.827633,4.119586,9.968350,56.277234,2.212449e+07,7.445286e+06,4.195102e+06
2,Atlantique,52.107358,47.892642,0.465251,99.534749,12.604175,0.254048,81.044181,4.545721,1.551874,...,98.415768,83.839798,32.147404,41.958584,22.013721,41.897199,71.609467,4.575731e+06,5.628369e+05,7.905801e+03
3,Borgou,48.653849,51.346151,2.212332,97.787668,0.459722,NaN,24.869213,74.319700,0.351365,...,94.594201,73.240676,21.257851,27.775721,10.286932,25.757443,68.110949,1.421111e+07,7.974235e+06,8.754768e+06
4,Collines,49.984159,50.015841,0.270085,99.729915,5.710345,0.060048,74.484250,15.179644,4.565714,...,96.277458,81.401167,33.374844,34.135007,7.588471,24.484217,86.848697,7.954430e+06,3.055817e+06,4.514168e+06
5,Couffo,55.056123,44.943877,0.352310,99.647690,48.973823,0.248852,48.550036,0.219369,2.007920,...,98.152075,60.077211,26.901673,28.168572,6.975585,17.435423,76.679091,1.042074e+07,3.241062e+06,0.000000e+00
6,Donga,50.569244,49.430756,0.331675,99.668325,1.076169,NaN,10.202046,88.721785,NaN,...,98.383105,88.265316,29.400620,30.414257,13.187262,23.449248,28.858603,4.421112e+06,2.578163e+06,1.915662e+06
7,Littoral,53.522500,46.477500,0.659093,99.340907,3.008325,0.210529,81.878706,13.714406,1.188033,...,99.177402,96.836231,36.359476,53.170973,38.357964,77.449703,94.551020,1.231653e+05,2.378167e+04,0.000000e+00
8,Mono,52.129749,47.870251,0.855873,99.144127,33.869493,2.012429,56.814448,2.439982,4.863648,...,89.638941,63.695431,33.803727,34.237136,10.772987,20.447426,75.867780,3.977445e+06,8.069921e+05,3.828423e+03
9,Oueme,51.228341,48.771659,0.343938,99.656062,5.692466,0.295211,81.212199,12.335823,0.464302,...,97.162565,83.520707,36.003252,43.794463,22.875201,48.139403,81.322742,3.999323e+06,8.677059e+05,1.780721e+05
10,Plateau,51.798070,48.201930,0.171937,99.828063,11.689462,0.361919,69.902636,17.142299,0.903684,...,89.478385,63.334911,27.180748,30.303712,10.250225,22.255610,70.657602,7.064358e+06,1.641912e+06,1.937335e+04
11,Zou,51.940488,48.059512,0.162621,99.837379,20.099166,0.497317,74.567666,3.489095,1.346756,...,98.382203,66.363860,29.902840,34.399027,8.396115,20.691110,81.804237,4.792571e+06,9.958249e+05,1.906954e+06

In [28]:
ehcvm_agg.to_csv("ehcvm_agg.csv")

In [29]:
data_pop=pd.read_csv("data_population_final.csv")

In [30]:
data_pop

,Unnamed: 0,annee,population_totale_milliers,densite_population_personnes_km2,age_median_ans,taux_fertilite_total,taux_brut_natalite_pour_1000,esperance_vie_ans,mortalite_infantile_pour_1000,taux_croissance_population_pourcentage
0,0,1950,2250.476,19.958,22.824,5.751,40.894,35.396,209.790,0.717
1,1,1951,2267.308,20.107,22.485,5.777,41.094,35.695,207.275,0.773
2,2,1952,2285.775,20.271,22.150,5.829,41.497,35.988,204.802,0.849
3,3,1953,2306.202,20.452,21.820,5.883,41.921,36.315,202.351,0.930
4,4,1954,2328.782,20.653,21.501,5.938,42.391,36.666,199.773,1.018
...,...,...,...,...,...,...,...,...,...,...
69,69,2019,12726.755,112.866,17.331,4.900,36.036,59.888,57.597,2.697
70,70,2020,13070.169,115.911,17.428,4.795,35.331,60.154,56.237,2.629
71,71,2021,13413.417,118.955,17.533,4.707,34.779,59.610,54.917,2.556
72,72,2022,13759.501,122.025,17.646,4.634,34.350,60.475,53.654,2.539
73,73,2023,14111.034,125.142,17.772,4.556,33.879,60.774,52.318,2.507

In [31]:
data_pop.drop(columns=["Unnamed: 0"])

,annee,population_totale_milliers,densite_population_personnes_km2,age_median_ans,taux_fertilite_total,taux_brut_natalite_pour_1000,esperance_vie_ans,mortalite_infantile_pour_1000,taux_croissance_population_pourcentage
0,1950,2250.476,19.958,22.824,5.751,40.894,35.396,209.790,0.717
1,1951,2267.308,20.107,22.485,5.777,41.094,35.695,207.275,0.773
2,1952,2285.775,20.271,22.150,5.829,41.497,35.988,204.802,0.849
3,1953,2306.202,20.452,21.820,5.883,41.921,36.315,202.351,0.930
4,1954,2328.782,20.653,21.501,5.938,42.391,36.666,199.773,1.018
...,...,...,...,...,...,...,...,...,...
69,2019,12726.755,112.866,17.331,4.900,36.036,59.888,57.597,2.697
70,2020,13070.169,115.911,17.428,4.795,35.331,60.154,56.237,2.629
71,2021,13413.417,118.955,17.533,4.707,34.779,59.610,54.917,2.556
72,2022,13759.501,122.025,17.646,4.634,34.350,60.475,53.654,2.539
73,2023,14111.034,125.142,17.772,4.556,33.879,60.774,52.318,2.507

In [32]:
data_pop['population_totale_milliers'] = data_pop['population_totale_milliers'] * 1000

In [33]:
data_pop

,Unnamed: 0,annee,population_totale_milliers,densite_population_personnes_km2,age_median_ans,taux_fertilite_total,taux_brut_natalite_pour_1000,esperance_vie_ans,mortalite_infantile_pour_1000,taux_croissance_population_pourcentage
0,0,1950,2250476.0,19.958,22.824,5.751,40.894,35.396,209.790,0.717
1,1,1951,2267308.0,20.107,22.485,5.777,41.094,35.695,207.275,0.773
2,2,1952,2285775.0,20.271,22.150,5.829,41.497,35.988,204.802,0.849
3,3,1953,2306202.0,20.452,21.820,5.883,41.921,36.315,202.351,0.930
4,4,1954,2328782.0,20.653,21.501,5.938,42.391,36.666,199.773,1.018
...,...,...,...,...,...,...,...,...,...,...
69,69,2019,12726755.0,112.866,17.331,4.900,36.036,59.888,57.597,2.697
70,70,2020,13070169.0,115.911,17.428,4.795,35.331,60.154,56.237,2.629
71,71,2021,13413417.0,118.955,17.533,4.707,34.779,59.610,54.917,2.556
72,72,2022,13759501.0,122.025,17.646,4.634,34.350,60.475,53.654,2.539
73,73,2023,14111034.0,125.142,17.772,4.556,33.879,60.774,52.318,2.507

In [35]:
data_pop.to_csv("data_population.csv")